body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #161515;
    margin: 0;
}
.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    
}
h2 {
    margin-bottom: 20px;
    color: hsl(0, 100%, 99%);
    text-align: center;
}
input {
    width: 60%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #353434;
    border-radius: 5px;
    font-size: 16px;
    
}
button {
    width: 40%;
    height: 10%;
    padding: 12px;
    background: #037d03;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover {
    background: #026002;
}

.sign{
    background-color: #ca5705;
    border-radius: 2%;
    height: 60%;
    width: 39%;
}

.link{
    text-decoration: none;
    
}